<link rel="stylesheet" href="weights.css">

<h2>スクワット</h2>
  <% if @category_squat_rankings %> 
    <% @category_squat_rankings.each.with_index(1) do |weight, i| %>
      <div class="ranking">
        <div class="holder">
        <div class="score">
          <h3>第<%= i %>位</h3>
        </div>
          <%= weight.weight %>kg
          <%= weight.user.nickname %>さん
        </div>
      </div>
    <% end %>
  <% end %>
