<link rel="stylesheet" href="weights.css">

<div class="wrapper">
  <div class="left_bars">
    <%= render "left_bar" %>
  </div>
  <div class="center_bers">
    <%= render "center_bar" %>
  </div>
  <div class="right_bars">
    <%= render "right_bar" %>
  </div>
</div>